name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.repository == 'zjut-bio-party-undergraduate-branch/Excel-Compare-and-Import'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - run: npm install --frozen-lockfile
      - name: Build Test
        run: npm run build
      - name: Test
        run: npm run test